<html>
  <head>
    <script src="http://files.parisson.com/static/RainbowVis-JS/rainbowvis.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(getData);


      function getData() {
          var url = new URL(window.location.href);
          var protein_str = decodeURIComponent(url.searchParams.get("protein_name"));
          var csvdldiv = document.getElementById('column_download_csv');
          csvdldiv.href="/output_csv?protein_name="+protein_str;

          // URL for the API in Flask
          const dataURL = "/output_json?protein_name="+protein_str;
          var jsondiv = document.getElementById('column_json');
          jsondiv.href=dataURL;

          const request = new XMLHttpRequest();
          request.onload = function() {
              drawChart(this.response);
          };
          request.open('GET', dataURL);
          request.responseType = 'json';
          request.send();
      }



      function drawChart(chart_data) {
        var rainbow = new Rainbow();
        rainbow.setSpectrum('#546C8C', '#CCB6E7', '#8990BB');
        //var mzs = [129.102, 130.087, 143.082, 147.113, 155.081, 185.092, 214.119, 246.181, 256.129, 284.125, 327.166, 377.222, 398.204, 444.728, 471.244, 512.233, 605.329, 643.271, 760.883, 784.392, 791.395, 803.738, 810.906, 840.419, 846.427, 860.433, 868.425, 870.104, 870.768, 881.943, 888.451, 893.782, 895.947, 896.941, 917.463, 941.129, 966.969, 973.977, 1001.984, 1016.48, 1023.512, 1152.044];
        //var intensities = [794.5, 627.6, 612.5, 1266.7, 625.9, 4848.7, 455.6, 402.9, 6812.2, 672.6, 3782.6, 543.9, 788.0, 10000.0, 497.4, 423.0, 499.9, 572.2, 1181.6, 613.7, 1795.6, 5255.3, 822.1, 872.3, 5962.4, 1464.9, 394.7, 7227.1, 1058.6, 888.3, 4881.6, 6741.1, 1359.3, 656.7, 1786.9, 607.3, 368.7, 3633.5, 506.2, 548.2, 5230.3, 438.2];
        var mzs = chart_data.mz_data;
        var intensities = chart_data.intensities;
        rainbow.setNumberRange(Math.min(...intensities), Math.max(...intensities));
        var data_arr = [['m/z', 'intensity', { role: 'style' }]];
        var data_arr_no_color = [['m/z', 'intensity']];

        var i;
        for (i = 0; i<mzs.length; i++){
          data_arr.push([mzs[i], intensities[i], '#' + rainbow.colourAt(Math.floor(intensities[i]))]);
          data_arr_no_color.push([mzs[i], intensities[i]]);
        }
        var data = google.visualization.arrayToDataTable(data_arr);
        var data_no_color = google.visualization.arrayToDataTable(data_arr_no_color);


        var line_options = {
          title: 'Spectral Data for '+chart_data.protein_name,
          curveType: 'none',
          hAxis: {title: 'm/z'},
          vAxis: {title: 'intensity'},
          colors: ['#546C8C']
        };

        var scatter_options = {
          title: 'Spectral Data for '+chart_data.protein_name,
          hAxis: {title: 'm/z'},
          vAxis: {title: 'intensity'},
          pointSize: 5,
        };

        var column_options = {
          title: 'Spectral Data for '+chart_data.protein_name,
          hAxis: {title: 'm/z'},
          vAxis: {title: 'intensity'},
          bar: {groupWidth: "95%"},
          legend: {position: 'none'}
        };

        var line_chart = new google.visualization.LineChart(document.getElementById('line_chart_div'));
        line_chart.draw(data_no_color, line_options);
        var scatter_chart = new google.visualization.ScatterChart(document.getElementById('scatter_chart_div'));
        scatter_chart.draw(data, scatter_options);
        var column_chart = new google.visualization.ColumnChart(document.getElementById('column_chart_div'));
        column_chart.draw(data, column_options);
        var dldiv = document.getElementById('column_download_html');
        dldiv.href = column_chart.getImageURI();
        var matplotlib_chart = document.getElementById('matplotlib_graph');
        matplotlib_chart.src = chart_data.b64_image;
      }
    </script>
  </head>
  <body>
    <div id="column_chart_div" style="width: 1400px; height: 800px;"></div>
    <!-- Auto width -->
    <a id="column_download_html" href="it hasn't loaded yet" style="align:center;" download>
      <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-download"></i>Download</button>
    </a>
    <a id="column_download_csv" href="it hasn't loaded yet" style="align:center;" download>
      <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-download"></i>Download CSV</button>
    </a>
    <a id="column_json" href="it hasn't loaded yet" style="align:center;">
      <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-download"></i>View JSON</button>
    </a>

    <img id="matplotlib_graph" src="" alt="graph" style="width: 1400px;" />

    <div id="line_chart_div" style="width: 1400px; height: 500px;"></div>
    <div id="scatter_chart_div" style="width: 1400px; height: 500px;"></div>
  </body>
</html>
